
@inject IJSRuntime Runtime

@if (Statement != null)
{
    if (Statement.OpenStatus == 0)
    {
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#basicExampleModal_@id">
            View Full Issue
        </button>
    }
    else
    {
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#basicExampleModal_@id">
            View Full Issue
        </button>
    }
}

<div class="modal fade" id="basicExampleModal_@id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel_@id"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel_@id">Issue Tracker</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <p class="black-text">School Code : @SchoolCode</p>
                <p class="black-text">Topic: @Statement.Title</p>
                <p class="black-text">Description : @Statement.Description</p>
                <p class="black-text">Created Date: @Statement.CreatedDate</p>
                <p class="black-text">Status : @Statement.OpenStatus</p>
            </div>
            <div class="modal-footer">

                @if (Statement.Uid == GlobalUser.UID && Statement.OpenStatus == 1)
                {
                    <button type="button" class="btn btn-danger" data-dismiss="modal" @onclick="Upload">Issue Solved</button>
                }
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>

            </div>
        </div>
    </div>
</div>

@code
{

    [Parameter]
    public SchoolProblem Statement { get; set; }
    [Parameter]
    public string SchoolCode { get; set; }
    [Parameter]
    public string Uid { get; set; }
    [Parameter]
    public string Decription { get; set; }

    public string id =>Statement.Title.Replace(' ','_');
    string ErrorMessage;
    bool success = false;
    [Parameter]
    public EventCallback DataChanged { get; set; }

    async void Upload()
    {
        var ids = await DatabaseHelper.GetIds(Runtime, "SchoolIssues/" + SchoolCode);
        foreach (var item in ids)
        {
            var statement = await DatabaseHelper.ReadData<SchoolProblem>(Runtime, "SchoolIssues/" + SchoolCode + "/" + item);
            if (statement.Title == Statement.Title && statement.Uid == Statement.Uid && statement.Description == statement.Description)
            {
                statement.OpenStatus = 0;
                DatabaseHelper.WriteData<SchoolProblem>(Runtime, "SchoolIssues/" + SchoolCode + "/" + item, statement);
                break;
            }

        }
        StateHasChanged();
        await DataChanged.InvokeAsync(this);
    }
}
