@inject IJSRuntime Runtime
<br />

@if (Record != null)
{
    if (attendences != null)
    {
        <DualCardHolder>
            <DualCard CardColor="mdb-color darken-3" TotalColumns="4">
                @if (Record != null)
                {
                    <br />
                <div class="white-text">
                    <p class="white-text flex-center">Roll Number : @Record.TeacherId </p>
                    <br />
                    <p class="white-text flex-center">School Code : @Record.SchoolCode</p>
                    <br />
                    <p class="white-text flex-center">Session : @Record.Session</p>
                    <br />
                    <p class="white-text flex-center">Class Teacher of  : @(Record.Class)</p>
                    <button type="button" class="btn btn-primary">Save Changes</button>

                </div>
                }
            </DualCard>
            <DualCard CardColor="mdb-color darken-3" TotalColumns="8">
                @foreach(var student in attendences)
                {
                    <br />
                <TableHolder ColumnNames="TableOption">
                    @foreach (var sub in student.SubjectAttendence)
                    {
                        <TableItem>

                            <TableValue>@sub.RollNumber</TableValue>
                            <TableValue>@sub.SubjectName</TableValue>
                            <TableValue>@sub.TotalPresent</TableValue>
                            <TableValue>@sub.TotalClasses</TableValue>
                            <TableValue><input type="checkbox" class="form-control" /></TableValue>
                        </TableItem>

                    }
                </TableHolder>
                }
            </DualCard>
        </DualCardHolder>
        <p class="alert-dange">@attendences.Count</p>
    }
}
else
{
    <p class="alert-danger">Can't Fetch the record. :(</p>
}
@code {
    public string[] TableOption = new string[] { "Roll Number","Subject", "Presents", "Total Presents", "Todays Attendence" };
    [Parameter]
    public TeacherRecord Record { get; set; }
    List<StudentAttendence> attendences;

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        if (firstRender)
        {
            if (Record != null)
                GetStudentList();
        }
    }

    async void GetStudentList()
    {
        attendences = await DatabaseHelper.ReadList<List<StudentAttendence>>(Runtime, "Attendence/" + Record.SchoolCode + "/" + Record.Session + "/" + Record.Class);
        StateHasChanged();
    }
}
