@inject IJSRuntime Runtime
<br />

@if (Record != null)
{
    if (attendences != null)
    {
        <DualCardHolder>
            <DualCard CardColor="mdb-color darken-3" TotalColumns="4">
                @if (Record != null)
                {
                    <br />
                <div class="white-text">
                    <p class="white-text flex-center">Roll Number : @Record.TeacherId </p>
                    <br />
                    <p class="white-text flex-center">School Code : @Record.SchoolCode</p>
                    <br />
                    <p class="white-text flex-center">Session : @Record.Session</p>
                    <br />
                    <p class="white-text flex-center">Class Teacher of  : @(Record.Class)</p>
                    @if (!hasUploadedToday())
                    {
                        <button type="button" class="btn btn-primary flex-center" @onclick="Upload">Save Changes</button>
                    }
                </div>
                }
            </DualCard>
            <DualCard CardColor="mdb-color darken-3" TotalColumns="8">
                @foreach(var student in attendences)
                {
                    <br />
                <TableHolder ColumnNames="TableOption">
                    @foreach (var sub in student.SubjectAttendence)
                    {
                    <TableItem>

                        <TableValue>@sub.RollNumber</TableValue>
                        <TableValue>@sub.SubjectName</TableValue>
                        <TableValue>@sub.TotalPresent</TableValue>
                        <TableValue>@sub.TotalClasses</TableValue>
                        @if (!hasUploadedToday())
                        {
                        <TableValue><input type="checkbox" class="form-control" @bind-value="sub.Todays"/></TableValue>
                        }
                        else
                        {
                            <TableValue>
                                <p class="white-text flex-center">@(sub.Todays?"P":"A")</p>
                            </TableValue>
                        }
                    </TableItem>

                    }
                </TableHolder>
                }
            </DualCard>
        </DualCardHolder>
        <p class="alert-dange">@attendences.Count</p>
    }
}
else
{
    <p class="alert-danger">Can't Fetch the record. :(</p>
}
@code {
    public string[] TableOption = new string[] { "Roll Number","Subject", "Presents", "Total Presents", "Todays Attendence" };
    [Parameter]
    public TeacherRecord Record { get; set; }
    List<StudentAttendence> attendences;

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        if (firstRender)
        {
            if (Record != null)
                GetStudentList();
        }
    }

    async void GetStudentList()
    {
        attendences = await DatabaseHelper.ReadList<List<StudentAttendence>>(Runtime, "Attendence/" + Record.SchoolCode + "/" + Record.Session + "/" + Record.Class);
        StateHasChanged();
    }
    bool hasUploadedToday()
    {
        if (Record.UploadedTodays == null)
            return false;
        else if(Record.UploadedTodays.Date.Day!=DateTime.Now.Date.Day)
        {
            return false;
        }
        return true;
    }
    void Upload()
    {
        if(attendences!=null)
        {
            foreach (var item in attendences)
            {
                foreach (var sb in item.SubjectAttendence)
                {
                    sb.TotalClasses += 1;
                    if(sb.Todays)
                        sb.TotalPresent += 1;
                }
            }
            Record.UploadedTodays = DateTime.Now;
            DatabaseHelper.WriteData(Runtime, "Attendence/" + Record.SchoolCode + "/" + Record.Session + "/" + Record.Class,attendences);
            DatabaseHelper.WriteData(Runtime, "Records/" + GlobalUser.UID, Record);
            StateHasChanged();
        }
    }
}
