@page "/user/feedbacks"
@inject IJSRuntime Runtime
@inject NavigationManager NavManager
<NavBar />
<!-- Card Regular -->
<br />
<br />

@if (GlobalUser.UID == null)
{
    NavManager.NavigateTo("/signin");

}
@if (feeds != null)
{
    <DualCardHolder>
        <DualCard CardColor="mdb-color darken-3" TotalColumns="4">
            <br />
            <div class="white-text">
                <p class="white-text flex-center">Name : @user.Name </p>
                <br />
                <p class="white-text flex-center">Email : @user.Email</p>
                <br />
                <p class="white-text flex-center">Role : @user.Role.ToString()</p>
                <br />
            </div>
        </DualCard>
        <DualCard CardColor="mdb-color darken-3" TotalColumns="8">
            <TableHolder ColumnNames="TableOption">
                @foreach (var feed in feeds)
                {
                    <TableItem>
                        <TableValue>@feed.Date</TableValue>
                        <TableValue>@schoolnames[feed.SchoolCode]</TableValue>
                        <TableValue><a href="/feedback/@feed.Id" style="color:white">View Feedback</a></TableValue>
                    </TableItem>
                }
            </TableHolder>
        </DualCard>
    </DualCardHolder>
}
else
{
    @if (firstrender)
    {
        <br />
        <p class="white-text">Loading</p>
    }
    else
    {
        <br />
        <p class="white-text">Failed to fetch profile data</p>
    }
}

@code
{
    private string[] TableOption = new string[] { "Date", "School", "Feedback" };
    private bool firstrender = true;
    private List<Feedbacks> feeds = null;
    private UserData user = null;
    private IDictionary<int, string> schoolnames = new Dictionary<int, string>();
    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        if (firstRender)
        {
            LoadFeed();
        }
        else
        {
            firstrender = false;
        }
    }
    async void LoadFeed()
    {
        feeds = await DatabaseHelper.GetFeedbacks<List<Feedbacks>>(Runtime, "user_feedbacks/" + GlobalUser.UID);
        user = await DatabaseHelper.ReadData<UserData>(Runtime, "Users/" + GlobalUser.UID);
        foreach (var feed in feeds)
        {
            schoolnames.Add(feed.SchoolCode, await DatabaseHelper.ReadData<string>(Runtime, "Schools/" + feed.SchoolCode + "/name"));
        }
        StateHasChanged();
    }
}

<style>
    body {
        background-image: url('./images/blur.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100vh;
        background-position: 0% 0%;
    }
</style>